<footer class="page-footer pink accent-1">

  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">StyleChic</h5>
        <p class="grey-text text-lighten-4">
          Just for girls
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Google Plus</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright StyleChic
    <%= link_to "About Us", "#", :class => "grey-text text-lighten-4 right" %>
    </div>
  </div>

</footer>
